<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!-- 	<listeners>
		<listener class-name="listener.ModifyListener"></listener>
	</listeners>-->
  <test thread-count="5" name="Test">
    <classes>
	  <class name="listener.TC_001"/>
<!--  <class name="pkg1.Selenium1"/>
      <class name="testCases.TestCase1"/>
      <class name="SeleniumAutomation.Selenium.AppTest"/>
      <class name="testCases.TestCase2"/>
      <class name="org.testing.testScripts.TC11"/>
      <class name="listener.TC_001"/>
      <class name="org.testing.testScripts.TC5"/>
      <class name="org.testing.testScripts.TC6"/>
      <class name="org.testing.testScripts.TC7"/>
      <class name="org.testing.testScripts.TC8"/>
      <class name="testCases.Testcase12"/>
      <class name="pkg1.TestNgPractice"/>
      <class name="org.testing.testScripts.TC1"/>
      <class name="org.testing.testScripts.TC2"/>
      <class name="org.testing.testScripts.TC3"/>
      <class name="org.testing.testScripts.TC4"/>
-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
